<div class="p-gutter" vexContainer>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div class="card" fxFlex="auto">
          <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="title m-0">Lista de tus tareas en proceso</h2>
          </div>
          <div class="px-12 py-12" fxLayout="column">
            <mat-form-field>
                <mat-label >Buscar tarea</mat-label>
                <input  (keyup)="applyFilter($event.target.value)" type="text" matInput>
            </mat-form-field>
          </div>
          <div class="px-12 py-12" fxLayout="column">
            <mat-table #table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="Expediente">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Expediente </mat-header-cell>
                  <mat-cell *matCellDef="let row" data-label="Dni"> {{row.nombre}} </mat-cell>
                 </ng-container>
                 <ng-container matColumnDef="Tipo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
                  <mat-cell *matCellDef="let row" data-label="Ruc"> {{row.tipo}} </mat-cell>
                 </ng-container>
                <ng-container matColumnDef="Fecha">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
                  <mat-cell *matCellDef="let row" data-label="Fecha"> {{row.fecha | date:'dd/MM/yyyy'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Editar">
                 <mat-header-cell *matHeaderCellDef class="column-button"> Editar </mat-header-cell>
                 <mat-cell *matCellDef="let row" class="column-button" data-label="descripcion">  
                   <button color="primary" (click)="cambiarEstado(row)" mat-raised-button >Editar</button>
                 </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Eliminar">
                  <mat-header-cell *matHeaderCellDef class="column-button"> Eliminar </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="column-button" data-label="Eliminar">  
                    <button color="warn" (click)="eliminar(row)" mat-raised-button >Eliminar</button>
                  </mat-cell>
                 </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColums"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColums;"></mat-row>
              </mat-table>
        
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>
      </div>
</div>

